@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@0,400,500,700,900&display=swap");
*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
ul {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.1;
  font-size: 16px;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: black;
  cursor: pointer;
}

a:hover {
  color: black;
  text-decoration: none;
}

a.nav-link:hover {
  color: black;
  text-decoration: underline;
}

button {
  background: transparent;
  border: none;
}

button:focus {
  outline: none;
}

strong {
  font-weight: 700;
}

.header .navbar .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .navbar .navbar-brand .ma-formation-cpf {
  color: #174195;
  border-left: 4px solid #e1000f;
  padding-left: 20px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  font-size: 28px;
}

@media (min-width: 768px) {
  .header .navbar .navbar-brand .ma-formation-cpf {
    font-size: 37px;
  }
}

.header .navbar .nav-link img {
  height: 80px;
}

@media (min-width: 768px) {
  .header .navbar .nav-link img {
    height: 100px;
  }
}

.landing p {
  color: #174195;
}

.landing .c-heading {
  color: #174195;
  font-weight: 700;
  font-size: 26px;
}

@media (min-width: 768px) {
  .landing .c-heading {
    font-size: 36px;
  }
}

.landing section {
  padding: 50px 0;
}

.landing .hero {
  background-image: url("/assets/hero-bg.jpg");
  background-size: cover;
  background-position: center top;
}

.landing .hero .formations-gratuites h2 {
  margin-bottom: 20px;
  color: white;
}

.landing .hero .formations-gratuites p {
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .landing .hero .formations-gratuites p {
    font-size: 30px;
  }
}

.landing .hero .formations-gratuites p:last-child {
  font-size: 22px;
  color: #e1000f;
  font-weight: 700;
  display: none;
}

@media (min-width: 992px) {
  .landing .hero .formations-gratuites p:last-child {
    display: block;
  }
}

.landing .hero .teste-eligibilite {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
}

@media (min-width: 768px) {
  .landing .hero .teste-eligibilite {
    padding: 30px 40px;
  }
}

.landing .hero .teste-eligibilite__title > * {
  color: red;
}

.landing .hero .teste-eligibilite__title h2 {
  margin-bottom: 5px;
}

.landing .hero .teste-eligibilite__title aside {
  font-size: 20px;
}

.landing .meilleur-allie {
  background-image: url("/assets/meilleur-allie-bg.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-width: 576px) {
  .landing .meilleur-allie {
    background-position: center left;
  }
}

.landing .les-formations {
  background-image: url("/assets/les-formations.jpg");
  background-size: cover;
  background-position: left center;
}

@media (min-width: 992px) {
  .landing .les-formations {
    background-position: center;
  }
}

.landing .les-formations ul {
  margin-top: 40px;
  color: #174195;
}

.landing .les-formations ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.landing .les-formations ul li::before {
  content: url("/assets/icons8-checked.svg");
  background-color: #174195;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.landing .les-formations ul li h3 {
  font-weight: 700;
  font-size: 25px;
}

.landing .comment-ca-marche {
  background-image: url("/assets/comment-ca-marche.jpg");
  background-size: cover;
  background-position: top left;
}

.landing .besoin {
  background-color: #174195;
}

.landing .besoin .c-heading {
  color: white;
}

.landing .besoin p {
  color: white;
}

.landing .info-legales {
  background-color: #232323;
}

.landing .info-legales .c-heading {
  color: white;
}

.landing .info-legales p {
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}

.landing .info-legales .sep {
  margin: auto;
  width: 1px;
  height: 100%;
  background-color: white;
}

.formulaire__block {
  margin: 30px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

@media (min-width: 576px) {
  .formulaire__block {
    min-height: 505px;
    padding: 20px 40px;
  }
}

@media (min-width: 576px) {
  .formulaire__block > * {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: 40px;
        flex-basis: 40px;
  }
}

.formulaire__block > *:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.formulaire__explications {
  color: #174195;
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .formulaire__explications {
    font-size: 25px;
  }
}

.formulaire__steps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formulaire__step-container {
  min-height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  display: none;
  left: 20px;
  opacity: 0;
}

.formulaire__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.formulaire__step {
  color: red;
}

.formulaire__heading {
  color: #174195;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.formulaire__input {
  color: black;
  width: 100%;
  background-color: #f3f5fa;
  height: 42px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 0 20px;
  margin-bottom: 15px;
}

.formulaire__input::-webkit-input-placeholder {
  color: #969696;
}

.formulaire__input:-ms-input-placeholder {
  color: #969696;
}

.formulaire__input::-ms-input-placeholder {
  color: #969696;
}

.formulaire__input::placeholder {
  color: #969696;
}

.formulaire__input--select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 8px;
}

.formulaire__input + label.error {
  text-align: left;
  position: relative;
  top: -15px;
  margin-bottom: -15px;
  padding-left: 20px;
}

.formulaire__radio {
  cursor: pointer;
  margin-bottom: 5px;
}

.formulaire__radio span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  height: 42px;
}

.formulaire__radio span:hover {
  color: #174195;
  border-color: #174195;
}

@media (min-width: 992px) {
  .formulaire__radio span {
    font-size: 20px;
  }
}

.formulaire__radio input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.formulaire__radio input:checked ~ span {
  color: white;
  background-color: #174195;
  border-color: #174195;
}

.formulaire__radio input + .error {
  position: absolute;
  bottom: -25px;
  left: 0px;
}

@media (min-width: 992px) {
  .formulaire__radio input + .error {
    left: 20px;
  }
}

.formulaire__text {
  font-size: 15px;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .formulaire__text {
    font-size: 20px;
  }
}

.formulaire__text-small {
  display: none;
  font-size: 12px;
}

@media (min-width: 992px) {
  .formulaire__text-small {
    font-size: 14px;
  }
}

.formulaire__nav-btn {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  border-radius: 30px;
  height: 40px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulaire__nav-btn.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formulaire__nav-btn#prevBtn {
  color: #174195;
}

.formulaire__nav-btn#prevBtn img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 10px;
}

.formulaire__nav-btn#nextBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formulaire__nav-btn#nextBtn, .formulaire__nav-btn#submitBtn {
  padding: 0 20px;
  color: #fff;
  background-color: #e1000f;
  margin-left: auto;
}

.formulaire__nav-btn#nextBtn img, .formulaire__nav-btn#submitBtn img {
  margin-left: 10px;
}

.formulaire__input + label.error, .formulaire__radio input + .error {
  color: #e1000f;
  opacity: 0;
  -webkit-animation: fade-in 0.4s forwards;
          animation: fade-in 0.4s forwards;
  font-size: 12px;
}

@media (min-width: 992px) {
  .formulaire__input + label.error, .formulaire__radio input + .error {
    font-size: 14px;
  }
}

.formulaire__input + label.error img, .formulaire__radio input + .error img {
  width: 12px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

@-webkit-keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */